@tailwind base;
@tailwind components;
@tailwind utilities;

.gutentap [data-variant="large"] {
  @apply tw-text-2xl;
}

.gutentap [data-tooltip] {
  position: relative;
}

.gutentap [data-tooltip]:hover::after {
  @apply tw-translate-y-0 tw-opacity-100;
}

.gutentap [data-tooltip]::after {
  content: attr(data-tooltip);
  width: max-content;
  @apply tw-max-w-[8em] tw-transition tw-text-xs tw-px-1.5 tw-py-0.5 tw-text-white tw-bg-black tw-rounded-sm tw-absolute tw-bottom-[calc(100%+0.5rem)] md:tw-bottom-auto md:tw-top-[calc(100%+1rem)] tw-left-1/2 tw--translate-x-1/2 tw-translate-y-1 tw-opacity-0  tw-pointer-events-none;
}

.gutentap [disabled] {
  @apply tw-text-gray-300 tw-cursor-default;
}

.gutentap .ProseMirror > * {
  @apply tw-max-w-2xl tw-mx-auto max-sm:tw-px-4;
}

.gutentap [data-block-width="wide"] {
  @apply tw-max-w-4xl  !important;
}

.gutentap [data-block-width="full"] {
  @apply tw-max-w-none tw-px-0 !important;
}

.gutentap .hide-empty:empty {
  display: none !important;
}

.gutentap .ProseMirror:focus-visible {
  outline: none;
}

.gutentap .ProseMirror > *:first-child {
  margin-top: 0;
}

.gutentap .ProseMirror-gapcursor {
  @apply tw-mx-auto tw-mt-6 tw-block tw-relative !important;
}

.gutentap .prosemirror-dropcursor-block {
  animation: scaleIn 0.3s tw-ease-out forwards;
  transform: scale(0);
  @apply tw-bg-slate-400 tw-h-1 tw-rounded-full !important;
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.editor-node-tools {
  @apply tw-absolute tw-mt-1.5 tw-h-4 tw-text-slate-500 hover:before:tw-duration-500  before:tw-scale-x-0 hover:before:tw-delay-500 after:tw-content-["+"] hover:before:tw-transition hover:after:tw-duration-500 hover:after:tw-delay-500 hover:after:tw-transition after:tw-scale-0 hover:after:tw-scale-100 hover:before:tw-scale-x-100  before:tw-block before:tw-absolute before:tw-h-0.5 before:tw-top-1/2 before:tw--translate-y-1/2 before:tw-left-0 before:tw-right-0 before:tw-bg-slate-200 tw-text-sm tw-leading-none after:tw-h-5 after:tw-w-5 after:tw-absolute after:tw-rounded after:tw-block after:tw-bg-white after:tw-border-slate-200  after:tw-border-2 after:tw-left-1/2 after:tw-top-1/2 after:tw--translate-x-1/2 after:tw--translate-y-1/2;
}

.gutentap .ProseMirror-gapcursor:after {
  @apply tw-block tw-relative tw-border-t-0 tw-border-l tw-h-6 tw-border-black !important;
}
^ .gutentap .ProseMirror tw-table p {
  @apply tw-my-0;
}

.gutentap .ProseMirror tw-table p + p {
  @apply tw-mt-2;
}

.gutentap tw-blockquote .ProseMirror-trailingBreak {
  display: none;
}

.gutentap .ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.gutentap .ProseMirror-selectednode {
  outline: 2px solid lightblue;
}

.gutentap .ProseMirror p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.gutentap .ProseMirror tw-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.gutentap .ProseMirror td,
.gutentap .ProseMirror th {
  min-width: 1em;
  border: 1px solid #ced4da;
  padding: 0.2rem 0.5rem;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

.gutentap .ProseMirror td > *,
.gutentap .ProseMirror th > * {
  margin-bottom: 0;
}

/* .ProseMirror th {
  font-weight: bold;
  text-align: left;
  @apply tw-bg-slate-50;
} */

.gutentap .ProseMirror .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}

.gutentap .ProseMirror tw-table p {
  margin: 0;
}

.gutentap .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: -2px;
  width: 4px;
  background-color: #adf;
  pointer-events: none;
}

.gutentap .tableWrapper {
  overflow-x: auto;
}

.gutentap .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.hidden{
  @apply tw-hidden;
}
